@mixin flex{
  display: flex;
}
@mixin justify-center{
  justify-content: center;
}
@mixin justify-between{
  justify-content: space-between;
}
@mixin flex-1{
  flex: 1;
}
@mixin shadow{
  box-shadow: 0 0 8rpx 0rpx $uni-border-color;
}
@mixin border-radius{
  border-radius: 12rpx;
}
@mixin text-sm{
  font-size: 18rpx;
}
@mixin text-lg{
  font-size: 30rpx;
}
@mixin bg-white{
  background-color: #fff;
}
@mixin ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin card{
  @include shadow;
  @include bg-white;
  @include border-radius;
}